In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
#Import and drop utc timezone
weather = pd.read_csv("data/weather.csv")
weather.drop(columns = "timestamp_utc", inplace = True)
weather

,timestamp_cet,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,precipitation,dew_point,global_radiation,humidity,water_level
0,2007-04-22T21:20:00+02:00,18.9,15.2,1.6,0.7,0.7,321,18.9,973.5,0.0,4.4,3.0,38.0,405.94
1,2007-04-22T21:30:00+02:00,18.1,15.2,1.3,0.8,0.8,346,18.1,973.7,0.0,4.8,3.0,41.0,405.94
2,2007-04-22T21:40:00+02:00,17.7,15.1,0.9,0.2,0.2,4,17.7,973.7,0.0,5.1,3.0,43.0,405.94
3,2007-04-22T21:50:00+02:00,17.6,15.3,0.6,0.1,0.1,235,17.6,973.8,0.0,5.7,3.0,45.0,405.94
4,2007-04-22T22:00:00+02:00,17.4,15.4,0.7,0.3,0.3,178,17.4,973.9,0.0,6.3,3.0,48.0,405.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909575,2024-11-18T15:30:00+01:00,10.9,11.7,4.2,1.7,1.7,213,9.4,968.9,0.0,3.3,54.0,60.0,405.86
909576,2024-11-18T15:40:00+01:00,10.8,11.7,4.5,1.9,1.9,281,9.2,968.9,0.0,3.5,43.0,61.0,405.86
909577,2024-11-18T15:50:00+01:00,10.6,11.7,4.8,1.7,1.7,272,8.9,968.9,0.0,3.5,27.0,62.0,405.86
909578,2024-11-18T16:00:00+01:00,10.5,11.7,4.3,1.1,1.1,274,9.4,968.9,0.0,3.5,31.0,62.0,405.86
909579,2024-11-18T16:10:00+01:00,10.4,11.7,4.9,0.6,0.6,156,9.1,968.8,0.0,3.4,28.0,62.0,405.86

In [27]:
#Transform to datetime format
pd.to_datetime(weather["timestamp_cet"])

C:\Users\micha\AppData\Local\Temp\ipykernel_8268\2309803379.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  pd.to_datetime(weather["timestamp_cet"])

0         2007-04-22 21:20:00+02:00
1         2007-04-22 21:30:00+02:00
2         2007-04-22 21:40:00+02:00
3         2007-04-22 21:50:00+02:00
4         2007-04-22 22:00:00+02:00
                    ...
909575    2024-11-18 15:30:00+01:00
909576    2024-11-18 15:40:00+01:00
909577    2024-11-18 15:50:00+01:00
909578    2024-11-18 16:00:00+01:00
909579    2024-11-18 16:10:00+01:00
Name: timestamp_cet, Length: 909580, dtype: object

In [28]:
#Filter for only 2024 Data and see if there are missing values
weather_filtered = weather.loc[weather["timestamp_cet"] > "2024-01-01 00:00"]
weather_filtered.isna().sum()

timestamp_cet              0
air_temperature            0
water_temperature          0
wind_gust_max_10min        0
wind_speed_avg_10min       0
wind_force_avg_10min       0
wind_direction             0
windchill                  0
barometric_pressure_qfe    0
precipitation              0
dew_point                  0
global_radiation           0
humidity                   0
water_level                0
dtype: int64

KeyError: "None of ['timestamp_cet'] are in the columns"

In [34]:

# Duplicate rows
duplicated_weather = pd.concat([weather_filtered, weather_filtered])

# Sort by timestamp to maintain order
duplicated_weather = duplicated_weather.sort_values(by='timestamp_cet').reset_index(drop=True)

# Convert 'timestamp_cet' to datetime format
duplicated_weather['timestamp_cet'] = pd.to_datetime(duplicated_weather['timestamp_cet'])

# Add 5 minutes to every second row's timestamp
duplicated_weather.loc[1::2, 'timestamp_cet'] += pd.Timedelta(minutes=5)

five_weather = duplicated_weather

#reset index
five_weather.set_index("timestamp_cet", inplace = True)
five_weather

C:\Users\micha\AppData\Local\Temp\ipykernel_8268\3954112243.py:8: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  duplicated_weather['timestamp_cet'] = pd.to_datetime(duplicated_weather['timestamp_cet'])

,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,precipitation,dew_point,global_radiation,humidity,water_level
timestamp_cet,,,,,,,,,,,,,
2024-01-01 00:00:00+01:00,4.9,6.6,4.2,2.7,2.7,114,1.8,966.4,0.0,2.3,0.0,83.0,405.88
2024-01-01 00:05:00+01:00,4.9,6.6,4.2,2.7,2.7,114,1.8,966.4,0.0,2.3,0.0,83.0,405.88
2024-01-01 00:10:00+01:00,5.0,6.6,7.0,3.0,3.0,73,1.5,966.5,0.0,2.3,0.0,83.0,405.88
2024-01-01 00:15:00+01:00,5.0,6.6,7.0,3.0,3.0,73,1.5,966.5,0.0,2.3,0.0,83.0,405.88
2024-01-01 00:20:00+01:00,5.0,6.6,8.7,4.4,4.4,125,0.4,966.5,0.0,2.2,0.0,82.0,405.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-18 15:55:00+01:00,10.6,11.7,4.8,1.7,1.7,272,8.9,968.9,0.0,3.5,27.0,62.0,405.86
2024-11-18 16:00:00+01:00,10.5,11.7,4.3,1.1,1.1,274,9.4,968.9,0.0,3.5,31.0,62.0,405.86
2024-11-18 16:05:00+01:00,10.5,11.7,4.3,1.1,1.1,274,9.4,968.9,0.0,3.5,31.0,62.0,405.86
2024-11-18 16:10:00+01:00,10.4,11.7,4.9,0.6,0.6,156,9.1,968.8,0.0,3.4,28.0,62.0,405.86
2024-11-18 16:15:00+01:00,10.4,11.7,4.9,0.6,0.6,156,9.1,968.8,0.0,3.4,28.0,62.0,405.86